.section {
    width: 100%;
    padding: 4rem 1.5rem;
    background: linear-gradient(180deg,
            rgba(184, 218, 228, 0.24) 0%,
            rgba(227, 241, 245, 0.24) 50%,
            rgba(184, 218, 228, 0.24) 100%);

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 1.875rem;
    font-weight: 600;
    text-align: start;
    margin-bottom: 1.5rem;
    Font-family: Figtree, sans-serif;
    color:#002d39;
}

.description {
    text-align: start;
    color: #4b5563;
    Font-family: Figtree, sans-serif;
    /* gray-600 */
    margin-bottom: 2.5rem;
}

.faqList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faqItem {
    background: #fff;
    border-radius: 1rem;
    border: 1px solid #d2daeb;
    /* gray-200 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.faqButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    border-width: 1;
    border-color: 'red'
}

.question {
    font-size: 1.125rem;
    /* 18px */
    font-weight: 500;
    color: #002d39;
    font-size: 16.4px;
    Font-family: Figtree, sans-serif
        /* gray-900 */
}

.answer {
    padding: 0 1.5rem 1rem 1.5rem;
    color: #002d39;
    /* gray-700 */
    line-height: 1.6;
    Font-family: Figtree, sans-serif
}

.icon {
    width: 27px;
    height: 27px;
    color: #105b70;
    /* gray-600 */
}
